.tab-container {
    display: flex;
    position: relative; 
    border-bottom: 1px solid gray;
    width: 50%;
  }
  
  .tab {
    padding: 10px 20px;
    cursor: pointer;
    border-bottom: none; /* Always remove bottom border for tabs */
    flex-grow: 1; /* Makes all tabs equal width */
    flex-basis: 0; /* Ignores the content size */
    text-align: center; /* Center the text within each tab */
    color: gray;
  }
  
  /* Highlight pseudo-element for active tab */
  .tab-highlight {
    position: absolute;
    bottom: -1px; /* Align with bottom border */
    left: 0; /* Will be set dynamically */
    width: calc(100% / 5); /* Assuming there are 5 tabs */
    height: 1px;
    background-color: #fff;
    transition: left 0.3s ease; /* Animated transition for moving highlight */
  }
  
  .active {
    background-color: #fff;
    position: relative; 
    z-index: 1; 
    border-top: 3px solid #000;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    color: black;
    font-weight: 300;
  }
  