/* styles.css */
.fade-enter {
    opacity: 0;
  }
  .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }
  .fade-exit {
    opacity: 1;
  }
  .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
  }
  
  /* Make sure the position is set to absolute for the images to fade in and out properly */
  .image-container {
    position: relative;
  }
  .image-container img {
    position: absolute;
    top: 0;
    left: 0;
  }
  