/* InputBarStyles.css */
.input-bar-width {
    width: 1000px; /* Your desired width */
  }

.header-height{
    max-height: 13vh;
    min-width : 100vh
}
  
/* Style.css */
@media (max-width: 449px) { /* This corresponds to Tailwind's 'md' breakpoint by default */
    .header-height  {
      min-height: 23vh;
      max-width : 50vh;
    }
  }
  

  @media (max-width: 449px) { /* This corresponds to Tailwind's 'md' breakpoint by default */
    .inputSearchBar  {
        max-width: 4px;
      }
  }